body{
    background-color: #d1d5da;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px
}

.en-tete{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#2e4e86,#1a356b);
    height: 25%;
    width: 100%;
}

.Pays{
    display: inline-block;
    font-size: 15px;
    margin-top: 40px;
    color: white;
    
}

.Pays:nth-of-type(9){
    margin-right:100px;
}

.logo{
    display: inline-block;
    width: 135px;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    
}

.page{
display: flex;    
margin: auto;
width: 80%;
background-color:#f4f4f4;
}

.photo{
display: flex;
max-width: 250px;
height: 125px;
margin-left: 10px;
}

.bigPicture{
    margin-top: 10px;
    margin-left: 10px;
}

.article{
width: 65%;
margin-bottom: 30px;
display: flex;
flex-direction: column;
}

.article1{
display: flex;
margin-top: 20px; 
border-bottom: 1px solid black;
padding: 15px;
}

.texte{
display: flex;
flex-direction: column;
margin-left: 20px;
}

.titre{
    font-size: 25px;
    margin-top: 0px;
    font-weight: bold;
}

p{
    margin-bottom: 5px; 
    font-size:11px;    
}

.block{
margin-left: 30px;
background: #f4f4f4;
margin-top:10px;
color: none;
width: 35%;
margin-right: .5%;
display: flex;
flex-direction: column;
}
.first{
    color:#000000;
    border:1px solid #a8aeb4;
    width: 100%;
    height:20px;
    font-size: 11px;
    border-bottom: none;
    border-top: none;
    padding: 3px
}

.block-list{
    list-style: none;
    padding: 0;
    margin-right: 10px;
}

.PB{
    margin:7.5px;
    color:white;
    background:#135189;
    margin-left: 2px #68a007;
}

.span{
    font-weight: bold;
   font-family:Arial,Helvetica,sans-serif;
}

.date{
    color: #a8aeb4;
    margin: 2px;
}

/* SecondMenu */

.Menu{
    display: block; 
    margin-top:60px;
    padding: 0px;
}

.vidéo{
    border-bottom: 1px solid black;
    list-style: none;
    border-bottom-style: dashed;
    padding: 0px;
    
}

.breve{
    color: #1a356b;
    text-align: left;
    margin: auto;
    padding: 10px;
}

.first:nth-of-type(1){
    border-left: solid 5px #68a007;
    background-color:#1a356b;
    color:white;
    height: 30px;
    font-style: italic;
    box-sizing: content-box;
}

.first:nth-of-type(2n){
    background-color: white;
}

.second:nth-of-type(2n){
    background-color: white;
}

.title{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
}

.second{
    display: flex;
    border-bottom: 1px solid grey;
    border-bottom-style: dashed;
    padding: 0px;
    font-size: 12.5px;
}

.second:nth-of-type(1){
    border-left: solid 5px #68a007;
    background-color:#1a356b;
    color:white;
    height: 30px;
    font-size: 15px;
    margin: auto;
    text-align: left;
    padding-left: 10px;
    font-style: italic;
    padding-top: 10px;

}

.first:nth-of-type(14){
    border-bottom: 1px solid grey;
    border-bottom-style: dashed;
}

.imagevidéo{
    padding: 0px;
}